.pagination-select > select {
  display: inline-flex;
  text-align: center;
  align-items: center;
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
}
