.not-found {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  height: 73vh;
  background-color: var(--gray-50);
  border-radius: 8px;
  box-shadow: 0 3px 4px 0 rgb(from var(--gray-400) r g b / 54%);
  padding: 20px 30px;
  flex: 0 1 100%;
}
