.post {
  display: flex;
  border-bottom: 1px solid var(--gray-400);
  padding: 20px 0;
  align-items: center;
  gap: 10px;
}

.post__title {
  width: 30%;
  font-weight: 500;
}

.post__body {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.post__text {
  text-align: left;
}

.post__info {
  display: flex;
  gap: 7px;
}

.post__info_container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8em;
  color: var(--gray-400);
  font-weight: 500;
}
