.pagination-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pagination-buttons > button {
  width: 30px;
}

.pagination-buttons > button:hover {
  box-shadow: var(--button-box-shadow-hover);
}

.pagination-buttons > button:disabled {
  opacity: 0.3;
  cursor: default;
}

.pagination-buttons > button[data-active='true'] {
  color: var(--primary);
  background-color: var(--accent-primary);
}
