.form {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid var(--tertiary);
  overflow: hidden;
}

.form__image {
  width: 16px;
  height: 16px;
}

.form__input {
  color: var(--tertiary);
}
