:root {
  --gray-50: #ffffff;
  --gray-400: #8e8e8e;
  --gray-800: #262626;

  --blue-600: #4192ef;

  --red-500: #ff3336;

  --purple-200: #bec6ff;
  --purple-600: #7b6fc5;

  --peach-200: #ffd6c3;
  --pink-300: #fcb5ff;

  --font-weight-50: 500;

  --font-family-main: Inter, system-ui, Avenir, Helvetica, Arial;
  --font-size-main: 16px;
  --line-height-main: 1.5;
  --font-weight-main: 400;
  --color-main: var(--gray-50);
  --background-main: var(--purple-600);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-main), sans-serif;
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-main);
  color: var(--color-main);
  background: linear-gradient(
    45deg,
    var(--peach-200),
    var(--pink-300),
    var(--purple-200)
  );
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

input {
  cursor: auto;
}

input::placeholder {
  color: var(--gray-400);
}

button {
  border-radius: 20px;
  padding: 0.65em 1.8em;
  font-weight: var(--font-weight-50);
  background-color: var(--blue-600);
  cursor: pointer;
  transition: background-color 0.25s;
}

button:disabled {
  background-color: var(--gray-400);
}
