.post-details {
  place-self: flex-start;
  padding-top: 10px;
}

.post-details__user {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 25px;
}

.post-details__user__avatar {
  width: 60px;
  height: 60px;
  border: 1px solid var(--tertiary);
  border-radius: 50%;
  overflow: hidden;
}

.post-details__user__avatar > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.post-details__user__bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.post-details__user__bio > span {
  color: var(--tertiary);
}

.post-details__post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.post-details__post__title {
  font-weight: var(--secondary-font-weight);
}

.post-details__post__description > span {
  color: var(--accent-primary);
}

.post-details__post__meta {
  display: flex;
  gap: 7px;
}

.post-details__post__meta__block {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8em;
  color: var(--tertiary);
  font-weight: var(--tertiary-font-weight);
}

.post-details__comments__text {
  display: inline-block;
  color: var(--tertiary);
}

.post-details__comments__text[data-type='button'] {
  margin-bottom: 16px;
  cursor: pointer;
}

.post-details__comments__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-details__comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-details__comment__user > b {
  font-weight: var(--secondary-font-weight);
}

.post-details__comment__meta {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.85em;
  color: var(--tertiary);
  font-weight: var(--tertiary-font-weight);
  padding-left: 1px;
}
